@import "base-color";
@import "compass/css3/text-shadow";

.brand-primary-bg{
  background: lighten($brand-primary-color, 20%) !important;
  background: rgba(255, 102, 102, .7) !important;
}
.brand-secondary-bg{
  background: lighten($brand-secondary-color, 20%) !important;
  background: rgba(102, 102, 255, .7) !important;
}
.brand-primary-bg{
  background: $brand-primary-color;
}
.brand-secondary-bg{
  background: $brand-secondary-color;
}

.highlight-title{
  padding: .1em .3em;
  margin: -.1em -.3em;
  border-radius: .1em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 58.75em) {
  h1{
    &.highlight-title{
      color: #222 !important;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0) !important;
    }
  }
  div.mt3em{
    margin-top: 1em !important;
  }
}
@media only screen and (min-width: 58.75em) {
  .highlight-title{
    background-color: rgba(0,0,0,0.2)
  }
}
.white-bg{
  background: white;
}