@import "variables";

//
// Footer
//
//

.footer{
  .social-links{
  text-align: right;
  margin-top: 1.6em;
  padding-right: .935em;
  img{
    padding-left: 1em;
    @include transition(all, .2s);
    &:hover{
      @include transition(all, .2s);
      opacity: .7;
    }
  }
  }
  .fix{
    border-bottom: 1px solid #eee;
  }
}

.footer-full{
  
  padding: 0px;
}

  .footer-full{
    padding-top: 0em;
    font-size: 0.8125em;
    width: 100%;
    background: white;

    nav{
      ul{
        height: auto;
        display: block;
        margin: 0;
        padding-top:1em;
        padding-left:2.2em;
        padding-right:2.2em;
        li{
          text-align: center;
          margin-left: 0em;
          
          padding-bottom: 0em;
          a{
            display: block;
            padding: 12px 0 12px 15px;
            color:#333;
            font-weight: 200;
            -webkit-transition:  opacity .2s;
            -moz-transition:  opacity .2s;
            -o-transition:  opacity .2s;
            -ms-transition:  opacity .2s;
            transition:  opacity .2s;
              &:active,&:hover {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                filter: alpha(opacity=50);
                opacity: .5;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                -o-transition: all .2s;
                -ms-transition: all .2s;
                transition: all .2s;
              }
            }
          }
        }
      }
      p{
        font-size: 0.8125em;
        text-align: center;
        font-weight: 400;
        height: auto;
        display: block;
        font-size:.8em;
        padding: 12px 0 9px 15px;
      }
    }

  .footer-full{
    nav{
      ul{
        padding: 0.9375em;
      }
    }
  }
  @media only screen and (min-width: 767px) {
  .footer-full nav ul li a:hover {
    opacity: 1;
    color: #0E0F1A;
  }
  .footer-full nav ul li a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .8;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    color: #32345C;
  }
  .footer-full{
    margin-left: 1.175em;
    .row{
      max-width: 1000px;
    }
    p{
      padding: 0px 0 9px 13px;
    }
    width: auto;
    .small-block-grid-2 > li {
      width: auto;
      padding: 0px;
      text-align: center;
      font-weight: 600;
    }
    p{
      color: #777;
    }
    nav{
      ul{
        margin: 0em;
        padding: 0.9375em 0 0 0.9375em;
        li{
          &:first-child a{
              padding-left: 0px;
            }
            a{
              font-size: 1.2em;
              font-weight: 500;
             -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
              filter: alpha(opacity=50);
              opacity: .8;
              -webkit-transition: all .2s;
              -moz-transition: all .2s;
              -o-transition: all .2s;
              -ms-transition: all .2s;
              transition: all .2s;
              color: $secondary-color ;
            &:hover{  
              opacity: 1;
              color: darken($secondary-color, 20%);
            }
          }
        }
      }
    }
  }
  .footer-full p {
    color: #777;
    text-align: left;
    font-size: 1.2em;
  }
}