.gform_body{
  label{
    font-weight: 300;
    .gfield_label{
      font-weight: 400;
    }
  }
  input{
    border-radius: 3px;
  }
}
.gform_wrapper .top_label input.small{
  width: auto!important;
}