@import "variables";

 @media only screen and (min-width:1000px){
    .pageBottomBox{
      .stat-number{
        font-size: 7em;
        margin-top: 0em;
        margin-bottom: 0em;
      }
    }
    .has-dropdown>a{
      margin-right: 5px;
    }
    .home .masthead-photo-content{
      margin-top:170px;
    }

       .home div .widget-icon{ display:inline-block !important;}


      .masthead-photo-content{
      padding:0 1.875em 0;
      margin-top: 270px;
      padding-bottom: 12px;
        h1{
          font-weight: 300;
          font-size: 2.8em;
          line-height: 1;
        }
      }
      .masthead-photo{
        width: auto;
        float: none;
      }
    .masthead-photo-extension{ 
      .masthead-photo-content{
        width: 1000px;
        padding-left: 1.875em;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .company-facts-extension{
      width: 9999px !important;
      background: #1A1A1A;
      float:left;
      .company-facts-content{
        float: left;
      }
    }
    .case-studies-extension{
      width: 9999px !important;
      background: white;
      float:right;
      #case-sliders{
        float: right;
        width: 667px;
      }
    }
    .page-main-extension{
      background: #FAF8F6;
      width: 9999px !important;
      float: right;

      .page-main-content{
        float: right;
        width: 667px;
      }
    }
   .company-facts-extension{
      #featrap{
        float: right;
        width: 667px;
      }
      .orbit-container{
        background: transparent !important;
        overflow: visible;
      }
    }
    .featsucc{
      .orbit-bullets {

      }
    }
  .products-link-content{
    max-width: 333px;
  }

}