@import "variables";

@media only screen and (min-width: 58.75em){
  .top-bar-section li a:not(.button) {
    padding: 0 20px;
  }
  .case-studies-extension{
    min-height: 750px;
  }
  .home .masthead-photo-content{
    margin-top:170px;
  }
  .pageBottomBox{
    .stat-number{
      font-size: 6em;
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }
  
}