@import 'foundation/variables';
@import 'foundation/components/global'; 

@media only screen and (min-width: 58.75em) {
  #lang_sel{
    font-family: $body-font-family;
    height: auto;
    li{
      width: auto;
    }
    a,
    a:visited{
      &.lang_sel_sel {
        vertical-align: bottom;
        background: transparent right no-repeat;
      }
      border: none !important;
      padding-right: 20px;
      text-align: right;
      line-height: 8px;
      padding-left: 1em;
      &.lang_sel_sel:after {
        @include css-triangle(3px, #666, top);
        position: absolute;
        top: 25%;
        right: 12%;
      }
    }
    & ul ul {
      border: none !important;
      a, 
      a:visited{
        background: transparent!important;
        border: none !important;
        padding-left: 1em !important;
      }
    }
  }
}