@import "base-color";
@import "compass/css3/text-shadow";

.brand-primary-bg{
  background: lighten($brand-primary-color, 20%) !important;
  background: rgba(255, 102, 102, .7) !important;
}
.brand-secondary-bg{
  background: lighten($brand-secondary-color, 20%) !important;
  background: rgba(102, 102, 255, .7) !important;
}
.brand-primary-bg{
  background: $brand-primary-color;
}
.brand-secondary-bg{
  background: $brand-secondary-color;
}

.highlight-title{
  padding: .5em;
  margin: -.5em;
  border-radius: .1em;
  a{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
}

.highlight-title{
  background-color: rgba(250, 0, 0, .2);
}