.slider-head-link{
  color: rgba(255, 255, 255, .7);
  font-size: 1.2em;
  .active{

    color: rgba(255, 255, 255, 1);
    p{
        border-top: 8px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: rgba(196, 45, 47, .7);
        display: inline;
    }
  }
}
.panel-contexts{
  display: none;
  &.active{
    display: block !important;
  }
}
.panel-contexts-case{

  border: 10px solid #333 !important;
}
.orbit-timer{
  visibility: hidden;
}

.orbit-bullets{
  position: absolute !important;
  top: 110% !important;
  right: 4% !important;
  li{
    border: none !important;
    opacity:.7;
    &.active{
      opacity:1;
      background: #9b2325 !important;
    }
  }

}