

@media only screen and (max-width: 58.75em) {
  .contain-to-grid{
    background: white !important;
  }
  .top-bar{
    background: white !important;
    .toggle-topbar.menu-icon a{
      color: #333 !important;
      span{
        -webkit-box-shadow: 0 10px 0 1px rgb(30, 30, 30),0 16px 0 1px rgb(30, 30, 30),0 22px 0 1px rgb(30, 30, 30);
        box-shadow: 0 10px 0 1px rgb(30, 30, 30),0 16px 0 1px rgb(30, 30, 30),0 22px 0 1px rgb(30, 30, 30);
      }
    }
    &.expanded .title-area{
      background: white !important;
    }
    .top-bar-section{
        ul li.active>a{
          color: white;
        }
      .sub-menu.dropdown{
        /*height: auto !important;*/
      } 
    }
  }
  .title-area{
    img{
      max-height: 37px !important;
    }
  }
}
@media only screen and (min-width: 58.75em) {
  .home{
    .top-bar-section li a:not(.button), .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section li a:not(.button):hover, .top-bar-section ul li.active>a {
      background: transparent  !important;
    }
  }
  .contain-to-grid{
    padding-top:    1.75em;
    padding-bottom: 1.25em;
    z-index: 1;
  }
  .title-area{
    margin-top: -.7em !important;
  }
  .top-bar-section li a:not(.button),
  .contain-to-grid,
  .top-bar,
  .top-bar-section ul,
  .top-bar-section li a:not(.button):hover,
  .top-bar-section ul li.active>a {
    background: white !important;
  }
  .divider{
    display: none;
  }
  .top-bar-section ul li>a {
    font-size: 1.325em;
    font-weight: normal;
  }
  .top-bar-section li a:not(.button) {
    padding: 0 14px !important;
  }

  // start remove top-bar dropdown
  .home{/**/ 
    .top-bar-section .has-dropdown {
      a{
        color: rgba(255,255,255,0.8) !important;
        &:hover{
          color: #e07779 !important;
        }
      }
    }
  }

    .top-bar-section .has-dropdown>a:after {
        content: "";
        display: inline !important;
        width: 0;
        height: 0;
        border: none !important;
        border-color: transparent !important;
        border-left-style: none !important;
        margin-right: 0px;
        margin-top: 0px;
        position: relative;
        top: 0;
        right: 0;
    }

    /*.top-bar-section .has-dropdown.moved {
        position: static
    }

    .top-bar-section .has-dropdown.moved>.dropdown {
        visibility: visible
    }

    .top-bar-section .dropdown {
        position: relative !important;
        left: 0 !important;
        top: 0;
        visibility: hidden;
        z-index: 99
    }
*/
    .top-bar-section .dropdown li a{
        width: 100%;
        padding-top: .5em !important;
        padding-bottom: .5em !important;
    }
/*
    .top-bar-section .dropdown li a {
        font-weight: normal;
        padding: 0px 0px !important;
    }

    .top-bar-section .dropdown li.title h5 {
        margin-bottom: 0
    }

    .top-bar-section .dropdown li.title h5 a {
        color: transparent;
        line-height: 0px;
        display: inline;
    }

    .top-bar-section .dropdown label {
        padding: 0px  0px 0px !important;
        margin-bottom: 0;
        text-transform: uppercase;
        color: transparent !importants;
        font-weight: bold;
        font-size: 0em;
    }*/

  // !end dropdown icon fix.

  // start hide dropdown items on full-screen
/*  .sub-menu{ 
    &.dropdown{
      display: none !important;
    }
  }*/
  // end hide dropdown items on full-screen

  .has-dropdown{
    a{
      color: #777 !important;
    }
  }
}

.js-generated{

}
