@media only screen and (min-width: 58.75em) {
  .home{
    .top-bar-section li a:not(.button),
    .contain-to-grid,
    .top-bar,
    .top-bar-section ul,
    .top-bar-section li a:not(.button):hover,
    .top-bar-section ul li.active>a {
      color: rgba(255,255,255,.8) !important;
    }
    .sub-menu.dropdown{
      display: none !important;
    }
    .title-area{
      h1{
        img{
          padding: 5px;
          margin: -5px;
          border-radius:6px;
        }
      }
    }
  }
}

